
/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...} */



* {
  box-sizing: border-box;
}
/* Home */

body {
  color: #f0f5f9;
  text-align: center;
  background-color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

/* Navigation */

header {
  margin: 15px 0  0 15px;

}

.accent {
  color: #52616b;
}

.logo_nav_bar img {
  max-width: 150px;
  max-height: 150px;
  float: left;
  padding: 14px 0;
  transform: rotateZ(30deg);
  margin-left: 15px;
}

.side_nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #000;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 60px 0 0 0;
  text-align: right;
}

.side_nav a, .side_nav span {
  padding:8px 8px 8px 32px;
  text-decoration: none;
  font-size: 3rem;
  color: #c9d6df;
  display: block;
  transition: 0.3s;
}

.side_nav a:hover {
  color: #52616b;
}

.sidebar .close_btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 3.5rem;
  margin-right: 50px;
  padding: 20px;
}

#main-nav {
  transition: margin-right .5s;
  padding: 16px;
  text-align: right;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Navigation JS classes */
.navWidth {
  width: 250px;
}

.navMargin {
  margin-right: 250px;
}
/* Responsive Navigation */

@media screen and (max-height: 450px){
  .side_nav {padding-top: 15px; }
  .side_nav a {font-size: 18px;}
}

.content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

}

/* Top Section */

.top-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  padding: 0;
}

h1 {
  color: #c9d6df;
  font-family: 'Zeyada', cursive;
  font-size: 7.5rem;
  margin-bottom: 15px;
}

  h2 {
    color: #f0f5f9;
    font-size: 3rem;
    font-weight: normal;
    padding-bottom: 15px;
    margin: 0;
  }

  .job {

    font-size: 2.7rem;
  }

hr {
    font-family: 'Montserrat', sans-serif;
    border: dotted #52616b .5rem;
    border-bottom: none;
    margin: 50px auto;
    width: 7%;
  }

  /* Footer */

  .bottom-container {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
  }

  .bottom-container a{
    padding:16px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #c9d6df
  }

  .bottom-container a:hover {
    color: #52616b;
  }


  .copyright {
    margin-top: 20px;
  }


  /* Twinkling Stars */

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url("../images/stars.png") repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url("../images/twinkling.png") repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

/* About */


.content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.top-container img {
  margin: 15px 0;
  width: 400px;
  height: 400px;
}

.bio {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 50px 0;
}

.bio div {
  width: 50%;
  margin: 0 auto;
}
.bio h2 {
  font-size: 3rem;
}
.bio h3 {
  color: #c9d6df;
  font-weight: 300;
  font-size: 2rem;
}

.bio p {
  font-size: 1.25rem;
}

/* Middle Container */


.skills-container {
  display: grid;
  grid-template-columns:[languages-col] 1fr [frameworks-col] 1fr[tools-col] 1fr;
  grid-template-rows: [header-start] 10vh [list-start] 1fr;
  grid-row-gap: 2.5rem;
  grid-column-gap: .5rem;
  grid-template-areas:
    "languages frameworks tools"
    "languages_list frameworks_list tools_list";
  text-align: left;
  margin-left: 12%;


}

#skills_languages {
  grid-area: languages;
}
#skills_frameworks {
  grid-area: frameworks;
}
#skills_tools {
  grid-area: tools;
}
#skills_languages_list {
  grid-area: languages_list;
}
#skills_frameworks_list {
  grid-area: frameworks_list;
}
#skills_tools_list {
  grid-area: tools_list;
}

.skills-container h3 {
  text-align: left;
  font-size: 2rem;
  color: #c9d6df;
  font-weight: 300;
}

.skill-list {
  list-style-type: none;
  padding: 8px 8px 0;
  margin: 0;
  text-align: left;
  font-size: 1.25rem;
}


/* .random-facts-container {
  display: grid;
  grid-template-columns: [img] 66vw [facts] 33vw;
  grid-template-rows: [img] 5vh[fact-list] 15vh;

  grid-gap: 1vw;
  grid-template-areas:
    "facts_img facts"
    "facts_img facts_list";
}
#facts_img {
  grid-area: facts_img;
}
#facts {
  grid-area: facts;
}
#facts_list {
  grid-area: facts_list;
}


.random-facts-container h3 {
  margin:0;
} */

/* Projects */

.project-page {
  margin: 50px 0;
}
.project-page #mello img {
  width: 600px;
  height: 480px;
}
.project-page #hogwarts img {
  width: 198px;
  height: 423px;
  padding: 0 25px;
}

.project-container {
  display: grid;
  grid-template-columns: [images] 1fr [headline] 1fr;
  grid-template-rows: [images] 10vh [desc] 1fr;
  grid-row-gap: 0.5rem;
  grid-column-gap: 2.5rem;
  text-align: left;
}

.project-container#mello {
  grid-template-areas:
    "mello_img mello_header"
    "mello_img mello_desc";
}

#mello_img{
  grid-area: mello_img;
}
#mello_header {
  grid-area: mello_header;
}
#mello_desc {
  grid-area: mello_desc;
}

.project-container#hogwarts {
  grid-template-areas:
    "hogwarts_img hogwarts_header"
    "hogwarts_img hogwarts_desc";
    margin: 0 15px 0 45px;
}
#hogwarts_img {
  grid-area: hogwarts_img;
}
#hogwarts_header {
  grid-area: hogwarts_header;
}
#hogwarts_desc {
  grid-area: hogwarts_desc;
}

.project-container h3 {
  margin-top: 45px;
  font-size: 2rem;
}

.project-container p {
  font-size: 1.25rem;
}

/* Contact */

.contact {
  margin: 50px 0;
}


.contact-form {
  padding: 20px;
  background: #000;
  color: #fff;
  width: 500px;
  font-size: 1.25rem;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.contact-form label,
.contact-form input,
.contact-form textarea,
.contact-form button {
  border: 0;
  margin-bottom: 3px;
  display: block;
  width: 100%;
  text-align: left;
}
.contact-form input {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  height: 25px;
  line-height: 25px;
  background: #fff;
  color: #000;
  padding: 0 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.contact-form textarea{
 height: 200px;
}

.contact-form .button-field {
  display: flex;
  justify-content: center;
}
.contact-form button {
  height: 45px;
  line-height: 30px;
  background: #52616b;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
  width: 25%;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;;
}

.contact-form button:hover {
  color: #c9d6df;
}


/*
Reponsive CSS */


/* .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} */

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .side_nav {padding-top: 15px; }
  .side_nav a {font-size: 18px;}


}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
