/* Dark Mode CSS */
body {
  color: #f0f5f9;
  text-align: center;
  background-color: #1e2022;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

div {
  padding: 20px;
}
/* Navigation */

.logo_nav_bar img {
  max-width: 100px;
  max-height: 100px;
  float: left;
  padding: 14px 0;
}

.side_nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #1e2022;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: right;
}

.side_nav a {
  padding:8px 8px 8px 32px;
  text-decoration: none;
  font-size: 3rem;
  color: #c9d6df;
  display: block;
  transition: 0.3s;
}

.side_nav a:hover {
  color: #000;
}

.sidebar .close_btn {
  position: absolute;
  top 0;
  right: 25px;
  font-size: 3.5rem;
  margin-right: 50px;
}

#main-nav {
  transition: margin-right .5s;
  padding: 16px;
  text-align: right;
  margin-right: 50px;
}

/* Navigation JS classes */
.navWidth {
  width: 250px;
}

.navMargin {
  margin-right: 250px;
}
/* Responsive Navigation */

@media scren and (max-height: 450px){
  .side_nav {padding-top: 15px; }
  .side_nav a {font-size: 18px;}
}


h1 {
  color: #c9d6df;
  font-family: 'Zeyada', cursive;
  font-size: 6.625rem;
  margin: 50px auto 0 auto;
}

  h2 {
    color: #f0f5f9;
    font-size: 3rem;
    font-weight: normal;
    padding-bottom: 10px;
    margin: 0;
  }

  h3 {
    color: #f0f5f9;
    font-size: 2.5rem;
  }

  hr {
    border: dotted #f0f5f9; .5rem;
    border-bottom: none;
    margin: 100px auto;
    width: 7%;
  }
