
/* Home */

body {
  color: #f0f5f9;
  text-align: center;
  background-color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

/* Navigation */

header {
  margin: 15px 0  0 15px;
}
.logo_nav_bar img {
  max-width: 100px;
  max-height: 100px;
  float: left;
  padding: 14px 0;
  transform: rotateZ(30deg);
  margin-left: 15px;
}

.side_nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #000;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 60px 0 0 0;
  text-align: right;
}

.side_nav a, .side_nav span {
  padding:8px 8px 8px 32px;
  text-decoration: none;
  font-size: 3rem;
  color: #c9d6df;
  display: block;
  transition: 0.3s;
}

.side_nav a:hover {
  color: #52616b;
}

.sidebar .close_btn {
  position: absolute;
  top 0;
  right: 25px;
  font-size: 3.5rem;
  margin-right: 50px;
  padding: 20px;
}

#main-nav {
  transition: margin-right .5s;
  padding: 16px;
  text-align: right;
  margin-right: 15px;
}

/* Navigation JS classes */
.navWidth {
  width: 250px;
}

.navMargin {
  margin-right: 250px;
}
/* Responsive Navigation */

@media scren and (max-height: 450px){
  .side_nav {padding-top: 15px; }
  .side_nav a {font-size: 18px;}
}

.content {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin: 75px 50px 0;
}

/* Top Section */

.top-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  padding: 0;
}



h1 {
  color: #c9d6df;
  font-family: 'Zeyada', cursive;
  font-size: 7.5rem;
  margin-bottom: 15px;
}

  h2 {
    color: #f0f5f9;
    font-size: 3rem;
    font-weight: normal;
    padding-bottom: 15px;
    margin: 0;
  }

  .job {
    color: #f0f5f9;
    font-size: 2.7rem;
  }

hr {
    font-family: 'Montserrat', sans-serif;
    border: dotted #f0f5f9 .5rem;
    border-bottom: none;
    margin: 100px auto;
    width: 7%;
  }

  /* Footer */

  .bottom-container {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }

  .bottom-container a{
    padding:16px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #c9d6df
  }

  .bottom-container a:hover {
    color: #52616b;
  }

  .flex-box {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  .copyright {
    margin-top: 5px;
  }


  /* Twinkling Stars */

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url("../images/stars.png") repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url("../images/twinkling.png") repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

/* About */
.top-container.about {
  flex-flow: row;
  justify-content: space-between;
  text-align: left;
}

/* Middle Container */

.skills-container {
  display: grid;
  grid-template-rows: 33% 33% 33%;
  grid-template-columns:1fr 1fr;
  grid-gap: 1vw;
  grid-template-areas:
    "languages frameworks tools"
    "languages_list frameworks_list tools_list";
    margin:0;
    text-align: left;
}

#skills_languages {
  grid-area: languages;
}
#skills_frameworks {
  grid-area: frameworks;
}
#skills_tools {
  grid-area: tools;
}
#skills_languages_list {
  grid-area: languages_list;
}
#skills_frameworks_list {
  grid-area: frameworks_list;
}
#skills_tools_list {
  grid-area: tools_list;
}

.skills-container h3 {
  padding: 8px;
  margin: 0;
}

.skills-container ul {
  list-style-type: none;
  padding: 8px;
  margin: 0;
}
